<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" additionalCSS="" additionalJS=""
  title="<%= title %> - FinTrack">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FinTrack - Ứng dụng quản lý tài chính cá nhân hiệu quả">
    <meta name="author" content="Nguyen Quy">
    <meta name="keywords" content="quản lý tài chính, thu nhập, chi tiêu, tiết kiệm, ngân sách, FinTrack">
    <meta name="robots" content="index, follow">

    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, proxy-revalidate">
    <meta http-equiv="Referrer-Policy" content="no-referrer">
    <meta http-equiv="Permissions-Policy" content="geolocation=(), microphone=(), camera=()">
    <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Favicons -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Web App Manifest -->
    <link rel="manifest" href="/manifest.json?v=<%= locals.timestamp || Date.now() %>">

    <title>
      <%= title %> - FinTrack
    </title>

    <!-- Bootstrap CSS -->
    <link href="/libs/bootstrap-5.3.8-dist/css/bootstrap.min.css?v=<%= locals.timestamp || Date.now() %>" rel="stylesheet">
    <link href="/libs/bootstrap-5.3.8-dist/css/bootstrap-grid.min.css?v=<%= locals.timestamp || Date.now() %>" rel="stylesheet">
    <link href="/libs/bootstrap-5.3.8-dist/css/bootstrap-utilities.min.css?v=<%= locals.timestamp || Date.now() %>" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style-apps.css?v=<%= locals.timestamp || Date.now() %>">
    <link rel="stylesheet" href="/css/style-dark-apps.css?v=<%= locals.timestamp || Date.now() %>">

    <% if (locals.additionalCSS) { %>
      <% additionalCSS.forEach(css=> {
        if(css.trim() === '') return;

        let hasQuery = css.includes("?");
        let hasVersion = css.includes("v=");
        let finalHref = css;
        if (!hasVersion) {
        finalHref += (hasQuery ? "&" : "?") + "v=" + (locals.timestamp || Date.now());
        }
        %>
        <link rel="stylesheet" href="<%= finalHref %>">
        <% }) %>
          <% } %>

  </head>

  <body class="d-flex flex-column min-vh-100"> <!-- Start of body -->
    <div class="loader" id="loader" style="display: none;"></div>
